# macOS system files
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.venv/

# VSCode settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Project generated images/data
*.png
*.csv
*.json
